@model List<BookType>
<h3 style="text-align:center">Kitap Tipi Listeleme Sayfası</h3>
<a asp-controller="booktype" asp-action="create" asp-area="Management" class="btn btn-primary" style="float:right">Ekle</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>Aksiyonlar</th>
        </tr>
    </thead>

    <tbody>
        @foreach (BookType item in Model)
        {
            int i = 1;
            <tr>
                <td>@i</td>
                <td>@item.Name</td>
                <td>
                    <a asp-controller="booktype" asp-action="harddelete" asp-area="Management" class="big-icon" asp-route-id="@item.ID"><i class="bi bi-x-octagon"></i></a>
                    <a asp-controller="booktype" asp-action="edit" asp-area="Management" class="big-icon left-margin" asp-route-id="@item.ID"><i class="bi bi-pencil-fill"></i></a>
                </td>
            </tr>
            i++;
            
        }
        
    </tbody>
</table>